*{margin: 0;padding: 0; box-sizing: border-box;}
@font-face{
    src:url("../fonts/AvenirLTStd.otf");
    font-family:"AvenirLTStd";
    
}

body{
    background-color: aliceblue;
}

@media screen and (max-width: 540px) {
    body{
        padding: 20px;
    }
    h1{
       display: none;
    }
    .logo{
       padding-bottom: 20px;
    }
    h2{
        padding-top: 20px;
    }
    #video{
        padding-bottom: 20px;
    }
    h4{
        display: none;
    }
    .logos2{
          }

}
.afa{
    font-weight: bold;


}
.logo{
    width: 120px;
    padding-top: 30px;
}
.logos{
    /*width: 30px;*/
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    font-size: 1.4em;
}

.logos img{width: 30px;align-self:flex-end}
.color{
    color: black;
}
a{
    color: white;
}
section{
    background-color: darkgoldenrod;
    color: white;  
}

nav{
    padding-top: 20px;
    padding-bottom: 20px;

}
hr{
    color: black;

    
}

    
}
h6{
   text-align: justify;
   font-style: italic;
   font-weight: normal;

}
p{
    text-align: justify;

}

.logos2{
    /*width: 171px;*/

    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    opacity: 0.7;

}
.logos2 li img{width: 100px;}


footer{
    font-weight: bold;
    
}

.logos3{
    /*width: 30px;*/
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    font-size: 1.3em;

}

/* contacto*/

.imput-100{
    width: 100%;
    padding-left: 10px;

}
.imput-50{
    width: 20%;
    background: darkgoldenrod;
    color: white;
   font-size: 17px;
   margin-top: 15px;
  
 



}
input{
    margin-bottom: 25px;

}
@media screen and (max-width: 540px) {
    .afaapp{
        padding-top:20px;
        
    }
}
    




